Automation/WatchlistCleanup/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "defaultValue": "Sentinel-CleanupWatchlist",
      "type": "String",
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "location": {
      "defaultValue": "[resourceGroup().location]",
      "type": "String",
      "metadata": {
        "description": "Azure region for the Logic App."
      }
    },
    "workspaceId": {
      "type": "String",
      "metadata": {
        "description": "Log Analytics workspace ID (GUID) where Microsoft Sentinel is enabled."
      }
    },
    "workspaceResourceGroup": {
      "type": "String",
      "metadata": {
        "description": "Resource Group of the Log Analytics workspace."
      }
    },
    "watchlistAlias": {
      "defaultValue": "",
      "type": "String",
      "metadata": {
        "description": "Alias of the Sentinel watchlist to clean up. The watchlist must have 'IPAddress' and 'Date' columns."
      }
    },
    "retentionDays": {
      "defaultValue": 60,
      "type": "Int",
      "metadata": {
        "description": "Number of days after which watchlist items are considered stale and removed."
      }
    }
  },
  "variables": {
    "sentinelConnectionName": "[concat('microsoftsentinel-', parameters('logicAppName'))]",
    "sentinelContributorRoleId": "ab8e14d6-4a74-4a29-9ba8-549422addade"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('sentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('sentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "subscriptionId": {
              "type": "String"
            },
            "workspaceResourceGroup": {
              "type": "String"
            },
            "workspaceId": {
              "type": "String"
            },
            "watchlistAlias": {
              "type": "String"
            },
            "retentionDays": {
              "type": "Int"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Week",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Initialize_Variables": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "cutoffDate",
                            "type": "string",
                            "value": "@{formatDateTime(addDays(utcNow(), mul(-1, parameters('retentionDays'))), 'yyyy-MM-ddTHH:mm:ssZ')}"
                        },
                        {
                            "name": "skipToken",
                            "type": "string"
                        },
                        {
                            "name": "allResults",
                            "type": "array"
                        }
                    ]
                }
            },
            "Filter_Stale_Items": {
                "runAfter": {
                    "Get_Watchlist_Info": [
                        "Succeeded"
                    ],
                    "loop_on_results": [
                        "Succeeded"
                    ]
                },
                "type": "Query",
                "inputs": {
                    "from": "@variables('allResults')",
                    "where": "@greater(ticks(concat('20',substring(item()?['properties.itemsKeyValue']?['Date'],6,2),'-',substring(item()?['properties.itemsKeyValue']?['Date'],3,2),'-',substring(item()?['properties.itemsKeyValue']?['Date'],0,2),'T00:00:00Z')), ticks(variables('cutoffDate')))"
                }
            },
            "Select_Data_Only": {
                "runAfter": {
                    "Filter_Stale_Items": [
                        "Succeeded"
                    ]
                },
                "type": "Select",
                "inputs": {
                    "from": "@body('Filter_Stale_Items')",
                    "select": "@item()?['properties.itemsKeyValue']"
                }
            },
            "Get_Watchlist_Info": {
                "runAfter": {
                    "Initialize_Variables": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Watchlists/subscriptions/@{encodeURIComponent(parameters('subscriptionId'))}/resourceGroups/@{encodeURIComponent(parameters('workspaceResourceGroup'))}/workspaces/@{encodeURIComponent(parameters('workspaceId'))}/watchlists/@{encodeURIComponent(parameters('watchlistAlias'))}"
                }
            },
            "Condition": {
                "actions": {
                    "Create_CSV_table_for_raw_input": {
                        "type": "Table",
                        "inputs": {
                            "from": "@body('Select_Data_Only')",
                            "format": "CSV"
                        }
                    },
                    "Update_the_Watchlist_with_data": {
                        "runAfter": {
                            "Wait_5_Minutes": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "put",
                            "body": {
                                "displayName": "@{body('Get_Watchlist_Info')?['properties']?['watchlist']?['properties.displayName']}",
                                "description": "@{body('Get_Watchlist_Info')?['properties']?['watchlist']?['properties.description']}",
                                "itemsSearchKey": "@{body('Get_Watchlist_Info')?['properties']?['watchlistItemsSearchKey']}",
                                "provider": "@{body('Get_Watchlist_Info')?['properties']?['watchlist']?['properties.provider']}",
                                "contentType": "text/csv",
                                "rawContent": "@{body('Create_CSV_table_for_raw_input')}"
                            },
                            "path": "/V2/Watchlists/subscriptions/@{encodeURIComponent(parameters('subscriptionId'))}/resourceGroups/@{encodeURIComponent(parameters('workspaceResourceGroup'))}/workspaces/@{encodeURIComponent(parameters('workspaceId'))}/watchlists/@{encodeURIComponent(parameters('watchlistAlias'))}"
                        }
                    },
                    "Wait_5_Minutes": {
                        "runAfter": {
                            "Delete_The_Watchlist": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait",
                        "inputs": {
                            "interval": {
                                "count": 5,
                                "unit": "Minute"
                            }
                        }
                    },
                    "Delete_The_Watchlist": {
                        "runAfter": {
                            "Create_CSV_table_for_raw_input": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "delete",
                            "path": "/V2/Watchlists/subscriptions/@{encodeURIComponent(parameters('subscriptionId'))}/resourceGroups/@{encodeURIComponent(parameters('workspaceResourceGroup'))}/workspaces/@{encodeURIComponent(parameters('workspaceId'))}/watchlists/@{encodeURIComponent(parameters('watchlistAlias'))}"
                        }
                    }
                },
                "runAfter": {
                    "Select_Data_Only": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Update_the_Watchlist_with_No_Data": {
                            "runAfter": {
                                "Delay_5_minutes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "body": {
                                    "displayName": "@{body('Get_Watchlist_Info')?['properties']?['watchlist']?['properties.displayName']}",
                                    "description": "@{body('Get_Watchlist_Info')?['properties']?['watchlist']?['properties.description']}",
                                    "itemsSearchKey": "@{body('Get_Watchlist_Info')?['properties']?['watchlistItemsSearchKey']}",
                                    "provider": "@{body('Get_Watchlist_Info')?['properties']?['watchlist']?['properties.provider']}",
                                    "rawContent": ""
                                },
                                "path": "/V2/Watchlists/subscriptions/@{encodeURIComponent(parameters('subscriptionId'))}/resourceGroups/@{encodeURIComponent(parameters('workspaceResourceGroup'))}/workspaces/@{encodeURIComponent(parameters('workspaceId'))}/watchlists/@{encodeURIComponent(parameters('watchlistAlias'))}"
                            }
                        },
                        "Delay_5_minutes": {
                            "runAfter": {
                                "Delete_a_Watchlist": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 5,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Delete_a_Watchlist": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/V2/Watchlists/subscriptions/@{encodeURIComponent(parameters('subscriptionId'))}/resourceGroups/@{encodeURIComponent(parameters('workspaceResourceGroup'))}/workspaces/@{encodeURIComponent(parameters('workspaceId'))}/watchlists/@{encodeURIComponent(parameters('watchlistAlias'))}"
                            }
                        }
                    }
                },
                "expression": {
                    "or": [
                        {
                            "equals": [
                                "@empty(body('Select_Data_Only'))",
                                false
                            ]
                        }
                    ]
                },
                "type": "If"
            },
            "loop_on_results": {
                "actions": {
                    "Get_all_Watchlist_Items": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/V2/Watchlists/subscriptions/@{encodeURIComponent(parameters('subscriptionId'))}/resourceGroups/@{encodeURIComponent(parameters('workspaceResourceGroup'))}/workspaces/@{encodeURIComponent(parameters('workspaceId'))}/watchlists/@{encodeURIComponent(parameters('watchlistAlias'))}/watchlistItems/",
                            "queries": {
                                "skipToken": "@{variables('skipToken')}"
                            }
                        }
                    },
                    "Union_Results": {
                        "runAfter": {
                            "Get_all_Watchlist_Items": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose",
                        "inputs": "@union(variables('allResults'),body('Get_all_Watchlist_Items')?['properties']?['watchlistItems'])"
                    },
                    "Set_results_to_variable": {
                        "runAfter": {
                            "Union_Results": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "allResults",
                            "value": "@outputs('Union_Results')"
                        }
                    },
                    "Check_if_skip_token_is_empty": {
                        "actions": {
                            "Set_skip_token": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "skipToken",
                                    "value": "@body('Get_all_Watchlist_Items')?['properties']?['skipToken']"
                                }
                            }
                        },
                        "runAfter": {
                            "Set_results_to_variable": [
                                "Succeeded"
                            ]
                        },
                        "else": {
                            "actions": {
                                "Set_skip_token_as_empty": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "skipToken",
                                        "value": "@trim(' ')"
                                    }
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@body('Get_all_Watchlist_Items')?['properties']?['skipToken']",
                                            ""
                                        ]
                                    }
                                }
                            ]
                        },
                        "type": "If"
                    }
                },
                "runAfter": {
                    "Initialize_Variables": [
                        "Succeeded"
                    ]
                },
                "expression": "@equals(variables('skipToken'), trim(' '))",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "type": "Until"
            }
        },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sentinelConnectionName'))]",
                "connectionName": "[variables('sentinelConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                },
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuresentinel')]"
              }
            }
          },
          "subscriptionId": {
            "value": "[subscription().subscriptionId]"
          },
          "workspaceResourceGroup": {
            "value": "[parameters('workspaceResourceGroup')]"
          },
          "workspaceId": {
            "value": "[parameters('workspaceId')]"
          },
          "watchlistAlias": {
            "value": "[parameters('watchlistAlias')]"
          },
          "retentionDays": {
            "value": "[parameters('retentionDays')]"
          }
        }
      }
    },
    {
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "assignSentinelContributorRole",
      "resourceGroup": "[parameters('workspaceResourceGroup')]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
      ],
      "properties": {
        "mode": "Incremental",
        "expressionEvaluationOptions": {
          "scope": "inner"
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "principalId": {
              "type": "string"
            },
            "workspaceId": {
              "type": "string"
            },
            "sentinelContributorRoleId": {
              "type": "string"
            }
          },
          "resources": [
            {
              "type": "Microsoft.Authorization/roleAssignments",
              "apiVersion": "2022-04-01",
              "name": "[guid(parameters('workspaceId'), parameters('principalId'), parameters('sentinelContributorRoleId'))]",
              "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', parameters('sentinelContributorRoleId'))]",
                "principalId": "[parameters('principalId')]",
                "principalType": "ServicePrincipal"
              }
            }
          ]
        },
        "parameters": {
          "principalId": {
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
          },
          "workspaceId": {
            "value": "[parameters('workspaceId')]"
          },
          "sentinelContributorRoleId": {
            "value": "[variables('sentinelContributorRoleId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "String",
      "value": "[parameters('logicAppName')]"
    },
    "managedIdentityPrincipalId": {
      "type": "String",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
